.text {
    margin: 0 0 var(--spacing-medium);
    font-size: 18px;
    background: linear-gradient(to left, #162454, #533389, #0a9ed8, #7a359f);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
